/* body { */

/* } */
h2 {
    font-size: 45px;
    /* font-weight: 200; */
}
h3 {
    font-size: 42px;
    /* font-weight: 200; */
}
h4 {
    font-size: 40px;
    /* font-weight: 200; */
}
span {
    font-weight: 900;
}
h2, h3, h4 {
    font-weight: 200;
    span {
        font-weight: 900;
    }
}
p {
    font-size: 15.57px;
    line-height: 28px;
}
a, input, textarea {
    font-size: 16.57px; 
}
a {
    color:#fff;
    text-decoration: none;
}
.grid-item-bg {
    background-image: url("../img/bg.png");
}
.grid-item-gray {
    background-color: #f3f3f3;
}
.grid-item-blue {
    background-image: url("../img/bg-blue.png");
}
.grid-item-bg, .grid-item-blue {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


