@font-face {
    font-family: 'Roboto';
    src: url('/readme/fonts/Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/readme/fonts/Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/readme/fonts/Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/readme/fonts/Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Roboto';
    font-weight: 200;
    max-width: 1170;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 42px;
}
h4 {
    font-size: 40px;
}

h2, h3, h4 {
    font-weight: 200;
    margin-top: 0;
}
span {
    font-weight: 900;
}
p {
    font-size: 15.57;
    line-height: 28px;
    margin -bottom: 0;
}
.container {
    max-width: 1370px;
    width: 100%;
}
.forms textarea {
    width: 100%;
}
.forms input, .forms textarea {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 10px 15px;
}
.forms input, {
    width: calc(48% - 30px);
}
.forms {
    display: flex;
    max-width: 620px;
    flex-wrap: wrap;
    justify-content: space-between;
}

a, input, textarea {
    font-size: 16.57;
    width: 100%;
}
.forms {
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
}
.forms input::-webkit-input-placeholder, 
.forms textarea::-webkit-input-placeholder {color:#fff;}
.forms input::-moz-placeholder, 
.forms textarea:-moz-placeholder {color:#fff;}
.forms input:-ms-input-placeholder, 
.forms textarea:-ms-input-placeholder {color:#fff;}
a {
    color: #262f32;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 15px;
    display: block;
    max-width: 150px;
    text-aligin: center;
}
.button {
    display: block;
    background-image: url(../images/menuu.png);
    background-color: transparent;
    border: none;
    width: 33px;
    height: 33px;
}
.grid-item-bg {
    background-image: url(../images/bg.png);
}
.grid-item-gray {
    background-color: #f3f3f3;
}
/*.grid-item-blue {
    background-image: url(../images/bg-blue.png);
}*/
.grid-item-bg, .grid-item-blue, .grid-item-gray, .grid-item-beige, 
.grid-item-black, .grid-item-human, .grid-item-green {
    background-size: cover;
/*    background-position: center center;*/
    background-repeat: no-repeat;
/*    display: block;*/
/*    width: 100%;*/
}
.grid-item-beige {
    background-image: url(../images/bg-blutoth.png);
}
/*.grid-item-black {
    background-image: url(../images/bg-black.png);
}*/
/*.grid-item-human {
    background-image: url(../images/bg-human.png);
}*/
/*.grid-item-green {

    background-image: url(../images/bg-green.png);
}*/
.grid-item-blue, .grid-item-black, .grid-item-human, 
.grid-item-green {
    color: #fff;
    background-color: #50a2b1;
}
.list {
    list-style-type: none;
}
